@section scripts{
    <script src="~/lib/vue/dist/vue.js"></script>
    <script src="js/index.js"></script>
}

<div id="index-page">
    <h2>Products</h2>
    <div>
        {{ new Date().getFullYear() }}
    </div>
</div>